<%= app_none_url_alert app, true %>
<h2 class="text-muted">Current App: <%= app.label %></h2>
<div class="row">
  <div class="col-sm-6">
    <%= erb '_text_message_form'.to_sym, locals: { app: app } %>
    <%= erb '_link_message_form'.to_sym, locals: { app: app } %>
    <%= erb '_location_message_form'.to_sym, locals: { app: app } %>
  </div>

  <div class="col-sm-6">
    <%= erb '_media_message_form'.to_sym, locals: {app: app, media_type: 'image' } %>
    <%= erb '_media_message_form'.to_sym, locals: {app: app, media_type: 'video' } %>
    <%= erb '_media_message_form'.to_sym, locals: {app: app, media_type: 'voice' } %>
  </div>
</div>